<div class="mt-4">
    <h3 class="text-center">Add a new room:</h3>

    <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)" class="form"
        [class.error]="!myForm.valid && myForm.touched">
        <div class="form-group">
            <label for="nameInput">Room name:</label>
            <input type="text" id="nameInput" placeholder="Room name" [formControl]="name" class="form-control" [class.is-invalid]="name.hasError('invalidName') && name.touched">
            <div *ngIf="name.hasError('invalidName') && name.touched" class="form-text text-muted">Name must start with
                first capital letter!</div>
            <div *ngIf="name.hasError('required') && name.touched" class="form-text text-muted">This field is required!
            </div>
        </div>
        <div class="form-group">
            <label for="priceInput">Room price:</label>
            <input type="number" id="priceInput" placeholder="Room price" [formControl]='price' class="form-control" [class.is-invalid]="price.hasError('required') && price.touched">
            <div *ngIf="price.hasError('required') && price.touched" class="form-text text-muted">This field is
                required!</div>
        </div>
        <div class="form-group">
            <label for="imageInput">Image url:</label>
            <input type="text" id="imageInput" placeholder="Image URL" [formControl]='image' class="form-control" [class.is-invalid]="image.hasError('invalidUrl') && image.touched">
            <div *ngIf="image.hasError('invalidUrl') && image.touched" class="form-text text-muted">Url is invalid!
            </div>
            <div *ngIf="image.hasError('required') && image.touched" class="form-text text-muted">This field is
                required!</div>

        </div>
        <div class="form-group">
            <label for="nscoreInput">Room score:</label>
            <input type="number" id="roomInput" placeholder="Room score" [formControl]='score' class="form-control" [class.is-invalid]="score.hasError('invalidScore') && score.touched">
            <div *ngIf="score.hasError('invalidScore') && score.touched" class="form-text text-muted">Score must be
                between 1 and 10!</div>
            <div *ngIf="score.hasError('required') && score.touched" class="form-text text-muted">This field is
                required!</div>
        </div>
        <div class="form-group">
            <label for="descInput">Description: </label>
            <textarea id="descInput" [formControl]='description' class="form-control">Describe the room here</textarea>
        </div>
        <button class="btn btn-large btn-primary">ADD THE ROOM</button>

    </form>
</div>